<html>
    <head>Algoritmi</head>

    <body>
        <p>Algoritmin nimi: {{ algo.name }}</p>

        <p>
            Lisännyt käyttäjä: 
            <a href="/user/{{ algo.username }}">{{ algo.username }}</a>
        </p>

        <p>Lähdekoodi:
            <br />
            {{ algo.source_code | show_lines }}
        </p>
        
        {% if classes %}
        <p>
            Luokat:
            <ul>
                {% for class in classes %}
                <li>{{ class.title }}: {{ class.value }}</li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}

        {% if algo.username == session.username %}
        <p>
            <a href="/edit/{{ algo.id }}">Muokkaa</a>
            <a href="/remove/{{ algo.id }}">Poista</a>
        </p>
        {% endif %}
        <p>
            <a href="/">Etusivulle</a>
        </p>
    </body>
</html>