<html>

    <body>
        <h1>Algo-bench</h1>

        {% if session.username %}
        <p>
            Olet kirjautunut sisään käyttäjällä {{ session.username }}
        </p>
        <p>
            <a href="/new_algorithm">Lisää uusi algoritmi</a>
        </p>
        <p>
            <a href="/logout">Kirjaudu ulos</a>
        </p>

        {% else %}
        
        <p>
            <a href="/login">Kirjaudu sisään</a>
        </p>

        <p>
            <a href="/register">Luo tunnus</a>
        </p>
        {% endif %}

        <ul>
            {% for algo in algos %}
            <li>{{ algo.name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>