<html>
    <head>Uusi algoritmi</head>

    {% if session.username %}
    <form action="/new_algorithm" method="post">
        <p>
            Algoritmin nimi:
            <input type="text" name="algo_name" />
        </p>
        <p>
            Lähdekoodi:
            <textarea name="source_code" rows="5" cols="40"></textarea>
        </p>
        <input type="submit" value="Lähetä" />
    </form>
    {% else %}
    <p><a href="/login">Kirjaudu</a> sisään lisätäksesi uuden algoritmin</p>
    {% endif %}
</html>